{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Tutoriel informatique</h1>
      <p class="lead text-muted"></p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for article in articles %}
        <div class="col">
          <div class="card shadow-sm">
            <iframe src="{{article.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text"><strong>{{ article.title }}</strong></p>
              <p class="card-text">{{ article.description|slice(0, 80) }}...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ path('article_show', {"id": article.id}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
                  <a href="{{ path('article_edit', {"id": article.id}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                  <a href="{{ path('article_delete', {"id": article.id}) }}" onclick="return confirm('Vous voulez vraiment supprimer cette article?')" class="btn btn-sm btn-outline-secondary">Supprimer</a>
                </div>
                <small class="text-muted">{{ article.createdAt|date("d/m/Y") }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.2/getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>
{% endblock %}
