{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

				<!-- Main -->
					<div id="main">
						<!-- Post -->
						{% for article in articles %}
						{% set comments =  article.comments.snapshot %}
						<article class="post">
							<header>
								<div class="title">
									<h2><a href="{{ path('article_show', {'id': article.id})}}">{{article.title}}</a></h2>
									{# <p>{{article.description|slice(0, 80)}}...</p> #}
								</div>
								<div class="meta">
									<time class="published" datetime="2015-11-01">{{article.createdAt|date("j F,Y")}}</time>
									<a href="#" class="author"><span class="name">Abdelhadi</span><img src=" {{asset('assets/front/images/luffy.jpg')}}" alt="" /></a>
								</div>
							</header>
							<p>{{article.description|slice(0, 230)}}...</p>
							<footer>
								<ul class="actions">
									<li><a href="{{ path('article_show', {'id': article.id})}}" class="button large">Continuez</a></li>
								</ul>
								<ul class="stats">
									{% for categorie in categories %}
										{% if categorie == article.category %}
											<li><a href="#">{{categorie.name}}</a></li>
										{% endif %}
									{% endfor %}
									<li><a href="#" class="icon solid fa-comment">{{ comments|length }}</a></li>
									<br>
								</ul>
							</footer>
						</article>
						{% endfor %}
					</div>

				<!-- Sidebar -->
					<section id="sidebar">
						<!-- Intro -->
						<section id="intro">
								{% for label, messages in app.flashes(['success', 'error']) %}
									{% for message in messages %}
										<div class="flash-{{ label }}" style="font-weight: bold;color: red;">
											{{ message }}
										</div>
									{% endfor %}
								{% endfor %}
								<a href="#" class="logo"><img src="{{asset('assets/front/images/logo.png')}}" alt="" /></a>
								<header>
									<h2>Blog</h2>
								</header>
							</section>

						<!-- Posts List -->
							<section>
								<h3>Tout les articles</h3>
								<ul class="posts">
									{% for article in articles %}
									<li>
										<article>
											<header>
												<h3><a href="{{ path('article_show', {'id': article.id})}}">{{ article.title }}</a></h3>
												<time class="published" datetime="2015-10-20">{{ article.createdAt|date('j F,Y')}}</time>
											</header>
										</article>
									</li>
										
									{% endfor %}
								
								</ul>
							</section>
{% endblock %}
