{% extends "base.html.twig" %}

{% block title %} Inscription {% endblock title %}

{% block body %}
<div id="main">
    
    <h1>Inscription</h1>

    {% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

    {{ form_start(form) }}
        {{form_row(form.username)}}
        {{form_row(form.email)}}
        {{form_row(form.password)}}
        <br>
        <button type="submit">Envoyer</button>
    {{ form_end(form)}}
</div>
{% endblock body %}