		<!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <h1><a href="{{ path('home')}}">Future Imperfect</a></h1>
                    <nav class="links">
                        <ul>
                            <li><a href="{{ path('home')}}">Accueil</a></li>
                            <li><a href="{{ path('about') }}">À propos</a></li>
                            {% if status_login == true  %}
                                <li><a href="{{ path('admin_home')}}">ADMIN</a></li>
                            {% endif %}
                            <li><a href="{{ path('register') }}">Inscritpion</a></li>
                            <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        </ul>
                    </nav>
                    <nav class="main">
                        <ul>
                            <li class="search">
                                <a class="fa-search" href="#search">Search</a>
                                <form id="search" method="get" action="#">
                                    <input type="text" name="query" placeholder="Search" />
                                </form>
                            </li>
                            <li class="menu">
                                <a class="fa-bars" href="#menu">Menu</a>
                            </li>
                        </ul>
                    </nav>
                </header>

            <!-- Menu -->
                <section id="menu">

                    <!-- Search -->
                        <section>
                            <form class="search" method="get" action="#">
                                <input type="text" name="query" placeholder="Search" />
                            </form>
                        </section>

                    <!-- Links -->
                        <section>
                            <ul class="links">
                                <li>
                                    <a href="{{ path('home')}}">
                                        <h3>Accueil</h3>
                                    </a>
                                </li>
                                <li><a href="{{ path('about') }}">À propos</a></li>
                                <li><a href="{{ path('register') }}">Inscritpion</a></li>
                                <li>
                                    <a href="#">
                                        <h3>Etiam sed consequat</h3>
                                        <p>Porta lectus amet ultricies</p>
                                    </a>
                                </li>
                            </ul>
                        </section>

                    <!-- Actions -->
                        <section>
                            <ul class="actions stacked">
                                <li><a href="{{ path('app_login') }}" class="button large fit">Connexion</a></li>
                            </ul>
                        </section>

                </section>
