		<!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <h1><a href="{{ path('home')}}">Blog </a></h1>
                    <nav class="links">
                        <ul>
                            <li><a href="{{ path('home')}}">Accueil</a></li>
                            {% if status_login == true  %}
                                <li><a href="{{ path('admin_home')}}">Tableau de bord</a></li>
                            {% endif %}
                            {% if status_login == true  %}
                            <li><a href="{{ path('app_logout') }}" onclick="return confirm('Vous voulez vraiment vous déconnecter')">Déconnexion</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <nav class="main">
                        <ul>
                            <li class="menu">
                                <a class="fa-bars" href="#menu">Menu</a>
                            </li>
                        </ul>
                    </nav>
                </header>

            <!-- Menu -->
                <section id="menu">

                    <!-- Search -->
                        {# <section>
                            <form class="search" method="get" action="#">
                                <input type="text" name="query" placeholder="Search" />
                            </form>
                        </section> #}

                    <!-- Links -->
                        <section>
                            <ul class="links">
                                <li>
                                    <a href="{{ path('home')}}">
                                        <h3>Accueil</h3>
                                        <p>Retrouver tous les articles du blog</p>
                                    </a>
                                </li>
                                {% if status_login == true  %}
                                <li>
                                    <a href="{{ path('admin_home')}}">
                                        <h3>Tableau de bord</h3>
                                        <p>Gérer les composants du blog</p>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </section>

                    <!-- Actions -->
                    {% if status_login == true  %}
                    <section>
                        <ul class="actions stacked">
                            <li><a href="{{ path('app_logout') }}" class="button large fit">Déconnexion</a></li>
                        </ul>
                    </section>
                    {% endif %}

                </section>
