
{% extends "admin/base.html.twig" %}
{% block title %}
  Articles
{% endblock title %}
{% block body %}

<style>
  a{
    color: white;
  }
</style>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Articles</h1>
          </div>

          <a href="{{ path('admin_new_article')}}" class="btn btn-outline-primary" >Ajouter un nouvel article</a>
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Publié</th>
                <th>Categorie</th>
                <th>Modification</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              {% for article in articles %}
                
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ article.title }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{ article.description|slice(0, 80) }}...</p>
                </td>
                <td>
                  {% if article.published == true %}
                  <span class="badge badge-success rounded-pill d-inline">Active</span>
                  {% else %}
                  <span class="badge badge-danger rounded-pill d-inline">Inactif</span>
                  {% endif %}
                </td>
                <td>{% for categorie in categories %}
                  {% if article.category == categorie %}
                    {{ categorie.name }}
                  {% endif %}
                {% endfor %}
                </td>
                <td>
                  <a href="{{ path('article_edit', {'id' : article.id}) }}"  class="btn btn-outline-info">
                    Modifier
                  </a>
                </td>
                <td>
                  <a href="{{ path('article_delete',  {'id' : article.id})}}" class="btn btn-outline-danger" onclick="return confirm('Vous êtes sur de vouloir supprimer cet élément?')" >
                    Supprimer
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          <!-- /.container-fluid -->

          
{% endblock body %}
