{% extends "base.html.twig" %}
{% block title %}
    {{ article.title }}
{% endblock title %}

{% block stylesheets %}
{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"> #}
    <link rel="stylesheet" href="{{ asset('assets/front/css/main.css')}}" />
    <link rel="stylesheet" href="{{ asset('assets/front/css/show_article.css')}}" />
{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"> #}
<script src="https://kit.fontawesome.com/e9f99aff74.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}


<div id="main">
    <h1 class="">{{ article.title }}</h1>
    <div class="container">
        <iframe class="responsive-iframe" src="{{article.url}}"></iframe>
    </div>
    <hr style="margin: 2em;">
    <h2>A propos de ce tutoriel</h2>
    <p class="lead">{{ article.description }}.</p>
    <h2>{{ comments|length }}commentaires</h2>
    {{ form_start(form)}}
        {{ form_row(form.username) }}
        {{ form_row(form.content) }}
        <br>
        <button type="submit">ENVOYER</button>
    {{form_end(form)}}

    {# Commentaires #}
    <div class="comment-list">
        <div class="user-comment">
            <div class="comments-section">
                    {% for comment in comments %}
            <div class="comment-post">
                    <div class="comment-img"><img src="{{asset('assets/front/images/default.png')}}"/>
                    </div>
                    <div class="comment-details">
                        <p><span class="comment-author" id="user">{{ comment.username }}</span><span class="comment-time">publié le {{ comment.createdAt|date("j F,Y") }}</span></p>
                        <p class="comment-content">{{ comment.content }}</p>
                    </div>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}

